.continueButton {
    display: inline-flex; /* allows centering text + flex benefits */
    justify-content: center;
    align-items: center;
    padding: 12px 24px; /* adjust padding as needed */
    font-weight: bold;
    font-size: 18px;
    text-decoration: none !important;
    background-color: #0B57D0;
    border-top: 3px solid #58B5F7;
    color: white;
    white-space: nowrap;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 3px;
    margin: 20px auto; /* helps with centering if used alone */
}

.continueButton:hover {
    font-size: 20px;
    color: white;
    text-decoration-color: white;
}
